{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>admin-page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
  <link rel="icon" href="{% static 'icons/book.svg' %}?{% now 'U' %}" />
  <link rel="stylesheet" href="{% static 'admin-page/style.css' %}?{% now 'U' %}" />
  <link rel="stylesheet" href="{% static 'default-styles/universal-style.css' %}?{% now 'U' %}" />
  <link rel="stylesheet" href="{% static 'default-styles/root-variables.css' %}?{% now 'U' %}" />
  <link rel="stylesheet" href="{% static 'default-styles/fields-style.css' %}?{% now 'U' %}" />
  <script src="{% static 'default-script/consts.js' %}?{% now 'U' %}" ></script>
  <script src="{% static 'admin-page/script.js' %}?{% now 'U' %}" defer></script>
</head>

<body>
  <div id="root">
    <header>
      <button style="background-image: url('./static/icons/home.svg');" onclick="GOTO_HOME()" ></button>
      <h1>admin-page</h1>
      <button toggle_theme style=" background-image: url('./static/icons/sun.svg'); "></button>
    </header>
    <main>
      <form method="post" name="admin-page"/>
        {% csrf_token %}
        <input required type="text" name="name" placeholder="name"/>
        <input required type="password" name="password" placeholder="password"/>
        <input required type="number" name="id" placeholder="id"/>
        <input type="submit">
      </form>
      <section id="Books"></section>
      <section id="Client"></section>
      <section id="Borrow"></section>
    </main>
    <footer>
      <h1>dev:Soumabha Saha</h1>
    </footer>
  </div>
</body>

</html>